@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900");

body {
	font-family: "Roboto", sans-serif;
	background: url("../images/background.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a, .dropdown {
	cursor: pointer;
}

.navbar-brand {
	font-weight: bold;
	text-transform: uppercase;
}

.navbar {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
	border-radius: 0;
	margin-top: 8px;
	border-style: solid;
	border-width: 5px 0 0;
	border-color: #007bff;
}

.splash {
	min-height: 50vh;
	padding: 22vh 0 9vh;
	color: #fff;
	text-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	background: rgba(0, 123, 255, 0.1);
}

.dropdown-item.active, .dropdown-item:active {
	background: #f8f9fa;
	color: #212529;
}

.dropdown-menu[x-placement="top-start"] {
	margin-top: 0;
	margin-bottom: 8px;
}

.splash h1 {
	font-weight: bold;
	text-transform: uppercase;
}

.content {
	background: #fff;
	bottom: 0;
	min-height: 50vh;
}

.search {
	background: #e9ecef;
	padding: 5vh;
}

.search input {
	border-radius: 3rem;
	padding: 20px;
}

.form-control:focus {
	border-color: #ced4da;
}

.dropdown-menu, .search button:focus, .search button, .search input, .search input:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search button {
	border-radius: 2rem;
	min-width: 100px;
}

.jumbotron {
	margin-top: 1rem;
}

.pagination {
	margin-bottom: 0;
	padding: 2rem 0;
}

.load {
	padding: 2rem 0;
}

.table {
	margin-bottom: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
	background: #f8f9fa;
}

.table-hover tbody tr:hover {
	background: rgba(0, 0, 0, 0.05);
}

.page-item.active .page-link {
	background: #e9ecef;
	border: 1px solid #dee2e6;
	color: #212529;
}

.table thead th {
	border-bottom: none;
}

.table-hover tbody tr:hover {
	background: rgba(0, 0, 0, 0.05);
}

.badge {
	font-size: 85%;
	font-weight: 400;
}

.copy i {
	margin-right: 2px;
}